In [1]:
import pandas as pd
import numpy as np
import matplotlib as mt
#sklearn

Wczytanie danych

In [8]:
dane_proba = pd.read_csv('../dane/Weather.csv', sep=',')
dane_proba.head()

,Unnamed: 0,city,date,year,month,day,high_temp,avg_temp,low_temp,high_dewpt,...,avg_hg,low_hg,high_vis,avg_vis,low_vis,high_wind,avg_wind,low_wind,precip,events
0,1,Auckland,2016-01-01,2016,1,1,68,65,62,64,...,30.09,30.01,6,6,4,21,15,28.0,0,Rain
1,2,Auckland,2016-01-02,2016,1,2,68,66,64,64,...,29.90,29.80,6,5,1,33,21,46.0,0,Rain
2,3,Auckland,2016-01-03,2016,1,3,77,72,66,70,...,29.73,29.68,6,6,1,18,12,NaN,0,Rain
3,4,Auckland,2016-01-04,2016,1,4,73,66,60,66,...,29.90,29.77,6,6,6,15,10,NaN,0,Rain
4,5,Auckland,2016-01-05,2016,1,5,69,62,55,55,...,30.14,30.09,6,6,6,13,7,NaN,0,NaN

In [9]:
dane = pd.read_csv('../dane/Weather.csv', sep=',', usecols = list(range(1,dane_proba.shape[1])))
dane.head()

,city,date,year,month,day,high_temp,avg_temp,low_temp,high_dewpt,avg_dewpt,...,avg_hg,low_hg,high_vis,avg_vis,low_vis,high_wind,avg_wind,low_wind,precip,events
0,Auckland,2016-01-01,2016,1,1,68,65,62,64,60,...,30.09,30.01,6,6,4,21,15,28.0,0,Rain
1,Auckland,2016-01-02,2016,1,2,68,66,64,64,63,...,29.90,29.80,6,5,1,33,21,46.0,0,Rain
2,Auckland,2016-01-03,2016,1,3,77,72,66,70,67,...,29.73,29.68,6,6,1,18,12,NaN,0,Rain
3,Auckland,2016-01-04,2016,1,4,73,66,60,66,60,...,29.90,29.77,6,6,6,15,10,NaN,0,Rain
4,Auckland,2016-01-05,2016,1,5,69,62,55,55,52,...,30.14,30.09,6,6,6,13,7,NaN,0,NaN

In [17]:
dane.columns

Index(['city', 'date', 'year', 'month', 'day', 'high_temp', 'avg_temp',
       'low_temp', 'high_dewpt', 'avg_dewpt', 'low_dewpt', 'high_humidity',
       'avg_humidity', 'low_humidity', 'high_hg', 'avg_hg', 'low_hg',
       'high_vis', 'avg_vis', 'low_vis', 'high_wind', 'avg_wind', 'low_wind',
       'precip', 'events'],
      dtype='object')

In [10]:
dane.dtypes

city              object
date              object
year               int64
month              int64
day                int64
high_temp          int64
avg_temp           int64
low_temp           int64
high_dewpt         int64
avg_dewpt          int64
low_dewpt          int64
high_humidity      int64
avg_humidity       int64
low_humidity       int64
high_hg          float64
avg_hg           float64
low_hg           float64
high_vis           int64
avg_vis            int64
low_vis            int64
high_wind          int64
avg_wind           int64
low_wind         float64
precip            object
events            object
dtype: object

# Braki w danych

In [15]:
dane.isna().sum()

city                0
date                0
year                0
month               0
day                 0
high_temp           0
avg_temp            0
low_temp            0
high_dewpt          0
avg_dewpt           0
low_dewpt           0
high_humidity       0
avg_humidity        0
low_humidity        0
high_hg             0
avg_hg              0
low_hg              0
high_vis            0
avg_vis             0
low_vis             0
high_wind           0
avg_wind            0
low_wind         1326
precip              0
events           2217
dtype: int64

In [16]:
dane.shape

(3655, 25)

In [ ]:
#zamina Nan -> 'no events'

In [21]:
dane['events'] = dane['events'].fillna('No event')

In [24]:
#przeliczenie temp na st C
#wykres, wnioski, sprawdzenie źródla danych i zmiana nazwy low_wind -> max_wind_gust
#zamiana tam Nan -> 0
dane['low_wind'] = dane['low_wind'].fillna(0)

In [34]:
dane.rename(columns={'low_wind': 'max_wind_gust'}, inplace = True)

In [53]:
dane['events'].unique()

array(['Rain', 'no event', 'Fog , Rain , Thunderstorm', 'Fog , Rain',
       'Rain , Thunderstorm', 'Rain , Hail', 'Fog', 'Thunderstorm',
       'Rain , Hail , Thunderstorm', 'Snow', 'Rain , Snow',
       'Fog , Thunderstorm', 'Fog , Snow', 'Fog , Rain , Snow',
       'Fog , Snow , Thunderstorm'], dtype=object)

In [60]:
def create(x):
    dane[x] = dane['events']
#dane['Rain'] = dane['Rain'].map({"Rain": 1}).fillna(0)
    dane[x] = [i.find(x) for i in dane[x]]
    dane[x] = dane[x].map({-1: 0}).fillna(1)
    
#create("Rain")
#create("Fog")
create("Thunderstorm")
create("Snow")
create("Hail")

In [ ]:
#wykres

In [ ]:
#zamiana

In [61]:
dane

,city,date,year,month,day,high_temp,avg_temp,low_temp,high_dewpt,avg_dewpt,...,high_wind,avg_wind,max_wind_gust,precip,events,Rain,Fog,Thunderstorm,Snow,Hail
0,Auckland,2016-01-01,2016,1,1,68,65,62,64,60,...,21,15,28.0,0,Rain,1.0,0.0,0.0,0.0,0.0
1,Auckland,2016-01-02,2016,1,2,68,66,64,64,63,...,33,21,46.0,0,Rain,1.0,0.0,0.0,0.0,0.0
2,Auckland,2016-01-03,2016,1,3,77,72,66,70,67,...,18,12,0.0,0,Rain,1.0,0.0,0.0,0.0,0.0
3,Auckland,2016-01-04,2016,1,4,73,66,60,66,60,...,15,10,0.0,0,Rain,1.0,0.0,0.0,0.0,0.0
4,Auckland,2016-01-05,2016,1,5,69,62,55,55,52,...,13,7,0.0,0,no event,0.0,0.0,0.0,0.0,0.0
5,Auckland,2016-01-06,2016,1,6,69,63,57,54,51,...,17,8,28.0,0,no event,0.0,0.0,0.0,0.0,0.0
6,Auckland,2016-01-07,2016,1,7,71,66,60,59,54,...,22,12,25.0,0,Rain,1.0,0.0,0.0,0.0,0.0
7,Auckland,2016-01-08,2016,1,8,77,70,64,72,67,...,21,14,28.0,0,Rain,1.0,0.0,0.0,0.0,0.0
8,Auckland,2016-01-09,2016,1,9,69,66,64,68,61,...,18,11,29.0,0,Rain,1.0,0.0,0.0,0.0,0.0
9,Auckland,2016-01-10,2016,1,10,71,66,62,63,58,...,20,15,0.0,0,Rain,1.0,0.0,0.0,0.0,0.0
10,Auckland,2016-01-11,2016,1,11,75,67,59,61,58,...,17,10,26.0,0,no event,0.0,0.0,0.0,0.0,0.0
11,Auckland,2016-01-12,2016,1,12,69,66,62,66,62,...,16,8,0.0,0,Rain,1.0,0.0,0.0,0.0,0.0
12,Auckland,2016-01-13,2016,1,13,71,66,62,61,57,...,18,13,0.0,0,no event,0.0,0.0,0.0,0.0,0.0
13,Auckland,2016-01-14,2016,1,14,75,68,62,63,61,...,17,9,0.0,0,no event,0.0,0.0,0.0,0.0,0.0
14,Auckland,2016-01-15,2016,1,15,75,68,62,63,60,...,15,7,0.0,0,no event,0.0,0.0,0.0,0.0,0.0
15,Auckland,2016-01-16,2016,1,16,78,68,59,66,61,...,12,4,0.0,0,Rain,1.0,0.0,0.0,0.0,0.0
16,Auckland,2016-01-17,2016,1,17,78,72,66,68,65,...,21,11,0.0,0,Rain,1.0,0.0,0.0,0.0,0.0
17,Auckland,2016-01-18,2016,1,18,77,72,68,72,68,...,29,18,41.0,0,Rain,1.0,0.0,0.0,0.0,0.0
18,Auckland,2016-01-19,2016,1,19,75,68,62,70,62,...,20,11,0.0,0,Rain,1.0,0.0,0.0,0.0,0.0
19,Auckland,2016-01-20,2016,1,20,75,68,62,63,62,...,12,5,0.0,0,no event,0.0,0.0,0.0,0.0,0.0
20,Auckland,2016-01-21,2016,1,21,78,71,64,64,62,...,15,6,0.0,0,no event,0.0,0.0,0.0,0.0,0.0
21,Auckland,2016-01-22,2016,1,22,77,70,62,63,61,...,15,7,0.0,0,no event,0.0,0.0,0.0,0.0,0.0
22,Auckland,2016-01-23,2016,1,23,78,68,59,64,62,...,15,7,0.0,0,no event,0.0,0.0,0.0,0.0,0.0
23,Auckland,2016-01-24,2016,1,24,82,71,60,66,62,...,13,5,0.0,0,no event,0.0,0.0,0.0,0.0,0.0
24,Auckland,2016-01-25,2016,1,25,82,73,64,66,64,...,12,6,22.0,0,no event,0.0,0.0,0.0,0.0,0.0
25,Auckland,2016-01-26,2016,1,26,80,72,64,70,66,...,9,4,0.0,0,Rain,1.0,0.0,0.0,0.0,0.0
26,Auckland,2016-01-27,2016,1,27,77,73,69,72,70,...,9,4,0.0,0,"Fog , Rain , Thunderstorm",1.0,1.0,1.0,0.0,0.0
27,Auckland,2016-01-28,2016,1,28,78,73,68,70,67,...,17,5,0.0,0,"Fog , Rain",1.0,1.0,0.0,0.0,0.0
28,Auckland,2016-01-29,2016,1,29,77,72,68,68,66,...,15,7,0.0,0,Rain,1.0,0.0,0.0,0.0,0.0
29,Auckland,2016-01-30,2016,1,30,78,72,66,66,65,...,14,6,0.0,0,no event,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3625,San Diego,2017-12-02,2017,12,2,70,63,55,60,56,...,10,3,13.0,0,no event,0.0,0.0,0.0,0.0,0.0
3626,San Diego,2017-12-03,2017,12,3,68,65,61,59,56,...,12,4,14.0,0,no event,0.0,0.0,0.0,0.0,0.0
3627,San Diego,2017-12-04,2017,12,4,67,61,54,54,51,...,10,3,12.0,0,no event,0.0,0.0,0.0,0.0,0.0
3628,San Diego,2017-12-05,2017,12,5,71,59,47,49,26,...,9,2,11.0,0,no event,0.0,0.0,0.0,0.0,0.0
3629,San Diego,2017-12-06,2017,12,6,71,60,49,43,27,...,15,3,19.0,0,no event,0.0,0.0,0.0,0.0,0.0
3630,San Diego,2017-12-07,2017,12,7,79,64,48,38,13,...,23,7,32.0,0,no event,0.0,0.0,0.0,0.0,0.0
3631,San Diego,2017-12-08,2017,12,8,74,62,50,43,29,...,14,4,17.0,0,no event,0.0,0.0,0.0,0.0,0.0
3632,San Diego,2017-12-09,2017,12,9,78,65,51,46,28,...,10,4,11.0,0,no event,0.0,0.0,0.0,0.0,0.0
3633,San Diego,2017-12-10,2017,12,10,79,66,53,29,23,...,10,4,14.0,0,no event,0.0,0.0,0.0,0.0,0.0
3634,San Diego,2017-12-11,2017,12,11,80,67,54,48,25,...,13,5,15.0,0,no event,0.0,0.0,0.0,0.0,0.0
3635,San Diego,2017-12-12,2017,12,12,78,64,50,33,18,...,12,4,13.0,0,no event,0.0,0.0,0.0,0.0,0.0
3636,San Diego,2017-12-13,2017,12,13,78,64,49,54,28,...,9,2,11.0,0,no event,0.0,0.0,0.0,0.0,0.0
3637,San Diego,2017-12-14,2017,12,14,73,61,48,50,33,...,10,2,14.0,0,no event,0.0,0.0,0.0,0.0,0.0
3638,San Diego,2017-12-15,2017,12,15,76,63,49,39,29,...,12,4,14.0,0,no event,0.0,0.0,0.0,0.0,0.0
3639,San Diego,2017-12-16,2017,12,16,65,59,53,55,45,...,15,7,19.0,T,no event,0.0,0.0,0.0,0.0,0.0
3640,San Diego,2017-12-17,2017,12,17,71,61,50,50,40,...,13,2,16.0,0,no event,0.0,0.0,0.0,0.0,0.0
3641,San Diego,2017-12-18,2017,12,18,70,60,49,49,35,...,12,3,14.0,0,no event,0.0,0.0,0.0,0.0,0.0
3642,San Diego,2017-12-19,2017,12,19,68,58,48,54,41,...,10,3,12.0,0,no event,0.0,0.0,0.0,0.0,0.0
3643,San Diego,2017-12-20,2017,12,20,63,55,47,54,47,...,14,5,17.0,0,Rain,1.0,0.0,0.0,0.0,0.0
3644,San Diego,2017-12-21,2017,12,21,63,56,48,51,34,...,13,5,16.0,0,no event,0.0,0.0,0.0,0.0,0.0
3645,San Diego,2017-12-22,2017,12,22,64,53,41,41,26,...,13,3,16.0,0,no event,0.0,0.0,0.0,0.0,0.0
3646,San Diego,2017-12-23,2017,12,23,65,55,45,49,34,...,12,3,14.0,0,no event,0.0,0.0,0.0,0.0,0.0
3647,San Diego,2017-12-24,2017,12,24,66,57,47,54,42,...,14,4,16.0,0,no event,0.0,0.0,0.0,0.0,0.0
3648,San Diego,2017-12-25,2017,12,25,66,56,45,52,44,...,12,3,13.0,0,no event,0.0,0.0,0.0,0.0,0.0
3649,San Diego,2017-12-26,2017,12,26,64,56,47,53,49,...,10,4,13.0,0,Fog,0.0,1.0,0.0,0.0,0.0
3650,San Diego,2017-12-27,2017,12,27,69,60,50,56,51,...,13,4,16.0,0,no event,0.0,0.0,0.0,0.0,0.0
3651,San Diego,2017-12-28,2017,12,28,74,62,49,58,47,...,14,3,17.0,0,Fog,0.0,1.0,0.0,0.0,0.0
3652,San Diego,2017-12-29,2017,12,29,77,63,49,59,47,...,8,2,10.0,0,Fog,0.0,1.0,0.0,0.0,0.0
3653,San Diego,2017-12-30,2017,12,30,72,61,49,57,50,...,13,3,17.0,0,Fog,0.0,1.0,0.0,0.0,0.0
3654,San Diego,2017-12-31,2017,12,31,64,57,50,56,51,...,10,2,12.0,0,Fog,0.0,1.0,0.0,0.0,0.0